.btn {
    padding: 27px 45px 23px 45px;
    background: #325dff;
    border-radius: 36px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #fff;

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        padding: 20px 30px 18px 30px;
        border-radius: 36px;
        font-size: 10px;
        line-height: 17px;
        letter-spacing: 2px;
        margin-bottom: 15px;
        margin-top: 0;
    }
}
