.work {
    .row {
        width: 100%;
        margin: 0;
    }

    .col-12 {
        padding: 0;

        img {
            @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
                height: auto;
            }
        }
    }

    .col-1 {
        margin-top: 100px;
    }
}